<%- include('../includes/head.ejs') %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!--===============================================================================================-->
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <% if (errorMessage) { %> 
      <div class="user-message user-message-error"><%= errorMessage %> </div>
      <% } %>
  
   
      <div class="limiter">
        <div class="container-login100">
        
            <form
              class="login100-form validate-form"
              action="/new-password"
              method="POST"
            >
              <span class="login100-form-title newpass"> New Password </span>
  
              <div
                class="wrap-input100 validate-input"
                data-validate="Password is required"
              >
                <input
                  class="input100"
                  type="password"
                  name="password"
                  placeholder="Password"
                />
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
              </div>
  
              <div class="container-login100-form-btn">
                <input type="hidden" name="userId" value="<%= userId %>" />
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="login100-form-btn" type="submit">Update Password</button>
              </div>
              
            </form>
          </div>
        </div>
      </div>

    <!--===============================================================================================-->
   

  </body>
</html>
