<%- include('../includes/head.ejs') %>



    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--===============================================================================================-->
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <% if (errorMessage) { %> 
      <div class="user-message user-message-error"><%= errorMessage %> </div>
      <% } %>
  
    <div class="limiter">
      <div class="container-login100">
          <form
            class="login100-form validate-form"
            action="/reset"
            method="POST"
          >
            <span class="login100-form-title"> Reset Password </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="email"
                name="email"
                placeholder="Email"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="login100-form-btn" type="submit">Reset Password</button>
            </div>
    
          </form>
    
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="/js/main.js"></script>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
