<%- include('../includes/head.ejs') %>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="vendor/bootstrap/css/bootstrap.min.css"
/>
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="vendor/css-hamburgers/hamburgers.min.css"
/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<!--===============================================================================================-->

<body>
  <%- include('../includes/navigation.ejs') %> <% if (errorMessage) { %>
  <div class="user-message user-message-error"><%= errorMessage %></div>
  <% } %>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
          <img src="images/img-01.png" alt="IMG" />
        </div>

        <form
          class="login100-form validate-form"
          action="/signup"
          method="POST"
        >
          <span class="login100-form-title"> Create your Account </span>

          <div
            class="wrap-input100 validate-input"
            data-validate="Valid Name is required: Mujib"
          >
            <input
              class="input100"
              type="text"
              name="name"
              placeholder="Name"
              value="<%= oldInput.name %>"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              class="input100"
              type="email"
              name="email"
              placeholder="Email"
              value="<%= oldInput.email %>"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Password is required"
          >
            <input
              class="input100"
              type="password"
              name="password"
              placeholder="Password"
              value="<%= oldInput.Password %>"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Confirm Password is required"
          >
            <input
              class="input100"
              type="password"
              name="confirmPassword"
              placeholder="Confirm Password"
              value="<%= oldInput.confirmPassword %>"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>

          <div class="container-login100-form-btn">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="login100-form-btn" type="submit">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/tilt/tilt.jquery.min.js"></script>
  <script>
    $('.js-tilt').tilt({
      scale: 1.1,
    });
  </script>
  <!--===============================================================================================-->
  <script src="js/main.js"></script>
</body>
