<div class="topnav">
  <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
  <% if (isAuthenticated) { %>
  <a class="<%= path === '/post' ? 'active' : '' %>" href="/post">Post</a>

  <!-- <a href="/profile/">Profile</a> -->

  <% } %>

  <!-- ************************************* -->
  <% if (!isAuthenticated) { %>
  <!-- ----------------------------------- -->

  <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>

  <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
    >Sign Up</a
  >

  <% } else { %>
  <form action="/logout" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button class="btn" type="submit">Logout</button>
  </form>
  <% } %>
</div>
